@import 'vpro.scss';
@import 'normalize.scss';
@import 'settings.scss';
@import 'fonts.scss';


@import 'gelukmodule.scss';
@import 'truefalse.scss';


h1 {
	font-family: SimplisticSans-Bold !important;
	color: black;
}

body {
	height: 100%;
	width: 100%;
}

#app {
	min-height: 100%;
	width: 100%;
}

.app-container {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}