@import 'vpro.scss';
@import 'normalize.scss';
@import 'settings.scss';
@import 'fonts.scss';


@import 'gelukmodule.scss';
@import 'truefalse.scss';


h1 {
	font-family: SimplisticSans-Bold !important;
	color: black;
}

h2 {
	color: $orange !important;
}

body {
	height: 100%;
	width: 100%;
	background: black url('../images/footer.png');
}

#app {
	min-height: 100%;
	width: 100%;
}

.app-container {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}

.app-container__progress {
  width: 10px;
  height: 100vh;
  z-index: 1000;
  left: 0;
  top: 0;
  position: absolute;
  background: #1D1D1D;
}

.app-container__progressbar--orange{
	background: $orange;
	width: 100%;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}

.nosupport {
	display: none;
	background: black;
}

.nosupport p {
	color: white !important;
}

@media screen and (max-width: 736px) {
	.nosupport {
    height: 100%;
    width: 100%;
    background: black;
    z-index: 10000000000;
    position: absolute;
		display: block;
		color: white;
		text-align: center;
		padding-top: 300px;
	}
}

