h4 {
  color: orange !important;
}
p { 
  color: black;
}

/* VIDEO SHEISSSS */
.video {
  background: black;
  min-width: 100%;
  height: 100%;
}

.video__loader {
  background: url("../images/greymouse-loader.gif") no-repeat center;
  width: 64px;
  height: 64px;
  z-index: 100;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.video__close {
  width: 40px;
  height: 40px;
  z-index: 1002;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  background-color: $orange;
}

.video__orangecover {
  background: $orange;
  height: 100%;
  min-width: 100%;
  z-index: 10;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.video__box {
  z-index: 5;
  opacity: 1;
  bottom: 120px;
  left: 0px;
  position: absolute;
  display: block;
  max-width: 50%;
  border-left: 12px solid $orange;
}

.video__boxcontent {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1em;
  font-size: 1em;
  line-height: 1.2em;
  max-width: 300px;
}
.video__tagline {
    display: block;
    margin-bottom: 0.05em;
    max-width: 400px;
    font-family: SimplisticSans-Bold;
    font-weight: bold;
    font-size: 1.2em;
    color: #fff;
}
.video__meta {
  color: $greymouse;
  margin: 0;
  font-size: 1em;
  font-family: SimplisticSans-Medium;
}
.video__element {
    position: relative;
    min-width: 100%;
    height: 100vh;
    margin: 0;
    z-index: 1;

}

.introduction {
  background-image: url('../images/footer.png');
  background-repeat: repeat;
  height: 100vh;
  min-width: 700px;
  background-size: 900px;
  padding: 100px;
}
.introduction__logo {
  max-width: 300px;
}

.introduction__tagline {
  font-size: 72px;
  color: white;
  margin-top: 20px;
}

.introduction__text {
  color: white;
}

.questions {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/* Happiness Summary */
.questions__summary {
  height: 100%;
  min-width: 300px;
  background: $introduction-color;
  position: relative;
  padding: 40px;
}

  .questions__heading {
    width: 200px;
    position: fixed;
    z-index: 100;
    margin-top: 106px;
  }

  .questions__summarytext {
   /* margin-top: 80px;*/ /* Temporary fix */
    margin-top: 200px;
  }

/* Single Happiness Module */
.questions__single {
	height: 100%;
  color: black;
	background: $steunkleur-een;
  position: relative;
  padding: 40px;
  padding-top: 100px;
}

.questions__single:nth-child(odd) {
  background: $steunkleur-twee !important;
}

@-webkit-keyframes blurAnim {
    0% { 
      -webkit-filter: blur(6px);
      filter: blur(6px);
    }
    100% { 
      -webkit-filter: blur(0px);
      filter: blur(0px);
    }
}

.questions__singledescription {
  font-family: SimplisticSans-Bold;
  font-size: 24px;
  margin-top: 20px;
}

.questions__blur--add {
  -webkit-filter: blur(6px);
  filter: blur(6px);
}

.questions__blur--remove {
  -webkit-animation: blurAnim 2s; 
  animation: blurAnim 2s;
}

.questions__singlerating {
  font-family: SimplisticSans-Bold;
  font-size: 24px;
}

.questions__next {
  font-family: SimplisticSans-Bold;
  font-size: 16px;
  border: 3px solid black;
  padding: 7px 11px;
  display: inline-flex;
  margin-top: 100px;
  cursor: pointer;
  &:hover {
    background: black;
    color: $steunkleur-een;
    cursor: pointer;
  }
}

.questions__next--yellow {
  @extend .questions__next;
  border: 3px solid $steunkleur-een;
  color: $steunkleur-een;
  display: inline-flex;
  margin-top: 0px;
  cursor: pointer;
  &:hover {
    border: 3px solid white;
    color: white;
    cursor: pointer;
  }
  &:nth-child(2){
    margin-left: 10px;
  }
}

/* Overlay */
.questions__overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  width: 100%;
  height: 100%;
  padding: 40px; /* Variable voor instellen */
  padding-top: 120px;
}

.questions__overlaytext {
  font-family: SimplisticSans-Bold;
  font-size: 32px;
  color: $steunkleur-een;
}

/* Overlay: Comments */
.questions__overlaybuttons {
  margin-top: 40px;
  display: none;
}

.commentbox {
  display: none;
}

.commentbox__input {
  margin-top: 20px;
  margin-left: 40px;
  border: none;
  border-bottom: 1px dotted white;
  background: none;
  color: white;
  font-size: 36px;
  min-width: 1000px; /* FIXEN!!!!!! */
  font-family: SimplisticSans-Medium;
  padding-left: 10px;
  height: 58px;
}

.commentbox__container {
  display: block;
  position: relative;
}

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.commentbox__entermessage {
  width: 300px;
  padding-top: 30px;
  padding-left: 19px;
  display: inline-block;
  color: $greywolf;

  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:.5s;
  -moz-animation-duration:.5s;
  animation-duration:.5s;

}

.commentbox__next--white {
  @extend .questions__next;
  border: 3px solid $white;
  color: $white;
  float: left;
  /*display: inline-flex;*/
  margin-top: 20px;
  margin-left: 40px;
  cursor: pointer;
  &:hover {
    border: 3px solid white;
    color: white;
    cursor: pointer;
  }
}

/* Message */
.message__loader {
  top: 0;
  left: 0;
  position: absolute;
  background: $greybat;
  display: block;
  height: 20px;
  width: 0;
}

.message__container {
  margin-left: 40px;
  margin-top: 120px;
}

.message__profile {
  display: none;
  opacity: 0;
  color: $greymouse;
}

.message__message {
  display: none;
  font-family: SimplisticSans-Medium;
  font-size: 48px;
  line-height: 44px;
  color: $darkyellow;
  opacity: 0;
}

/* MessageSSSSSS */
.singlemessage {
}

.singlemessage__meta {
  color: white;
}

.singlemessage__message {
  color: white;
}

/* Slider */

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  background: none;
  background-image: url('../images/slider.svg');  
  width: 100%;
  height: 10px;
  cursor: pointer;
  background-size: 250px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 25px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; /* Hides the slider so custom styles can be added */
  border-color: transparent;
  color: transparent;
}

input[type=range]:focus {
  -webkit-appearance: none;
  outline: none;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

/* Thumb */
/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 30px;
  width: 30px;
  background-image: url('../images/sliderthumb.svg');
  background-size: 30px;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-top: 0px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
