
p { 
  color: black;
}

a:link, a:visited, a:active {
  color: white;
  text-decoration: underline;
}

a:hover {
  color: $orange;
}

/* INTRO */
.intro {
  background: black;
  height: 100vh;
  min-width: 100%;
  padding-top: 70px;
  padding-left: 50px;
}

.intro__tagline {
  font-family: SimplisticSans-Bold;
  font-size: 20px;
  color: white;
  z-index: 1000;
  position: relative;
}

.intro__orange {
  color: $orange;
}

.intro__gray {
  color: $greyelephant;
}

.intro__kop {
  font-size: 64px;
  color: white;
  z-index: 1000;
  position: relative;
  line-height: 48px;
}

.intro__text {
  color: white;
  z-index: 1000;
  position: relative;
  width: 33.3%;
}

.intro__video {
  top: 0;
  position: absolute;
  right: 0;
  height: 100vh;
  margin: 0;
  z-index: 1;
}

.intro__button {
@extend .questions__next;
  border: 3px solid $orange !important;
  color: $white !important;
  display: inline-flex;
  margin-top: 0px !important;
  z-index: 100;
  cursor: pointer;
  position: relative;
  &:hover {
    background: $orange !important;
    color: $black !important;
    cursor: pointer;
  }
}

/* PERSONA */
.persona p {
  color: white !important;
}

/* VIDEO SHEISSSS */
.video {
  background: black url('../images/footer.png');
  min-width: 100%;
  height: 100%;
}

.video__loader {
  background: url("../images/greymouse-loader.gif") no-repeat center;
  width: 64px;
  height: 64px;
  z-index: 100;
  display: none;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.video__close {
  width: 40px;
  height: 40px;
  z-index: 1002;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  background-color: $orange;
}

.video__container {
  width: 200px;
  overflow:hidden;
  display:block;
  height: 360px;
}

video {
  position:absolute;
  z-index:0;
}
video.fillWidth {
  height: 100%;
}

.video__imagecontainer {
    overflow: hidden;
    display: flex;
    width: 66.66%;
}

.video__imageholder {
  margin-left: -600px;
}

.video__border {
  margin: 30px;
  text-align: center;
  margin-top: 30%;
}

.video__questioncontainer {
  position: absolute;
  margin-left: 66.66%;
  width: 33.33%;
  top: 0;
  height: 100%;
  background-image: url('../images/footer.png');
}

.video__question {
  color: white;
  line-height: 32px;
  margin: auto;
  position: inherit;
  font-size: 36px;
}

.video__introduction .video__question  {
  width: 50%;
}

.video__introduction {
  height: 100%;
  width: 100%;
  background-image: url('../images/footer.png');
  display: flex;
  text-align: center;
}

.video__line {
  border: 2px solid $orange;
  width: 200px;
  margin: auto;
  margin-top: 30px;
}

.video__orangecover {
  background: $orange;
  height: 100%;
  min-width: 100%;
  z-index: 10000;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.video__box {
  z-index: 100000;
  opacity: 1;
  bottom: 160px;
  left: 0px;
  position: absolute;
  display: block;
  max-width: 50%;
  border-left: 12px solid $orange;
}

.video__boxcontent {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1em;
  font-size: 1em;
  line-height: 1.2em;
  max-width: 300px;
}

.video__multiplechoice {
  color: white;
  font-family: SimplisticSans-Bold;
  font-size: 24px;
  margin-top: 40px;
}

.video__multiplechoice li {
  margin-top: 30px;
  cursor: pointer;
  &:hover{
    text-decoration: underline $orange;
    color: $orange;
  }
}


.video__tagline {
    display: block;
    margin-bottom: 0.05em;
    max-width: 400px;
    font-family: SimplisticSans-Bold;
    font-weight: bold;
    font-size: 1.2em;
    color: #fff;
}
.video__meta {
  color: $greymouse;
  margin: 0;
  font-size: 1em;
  font-family: SimplisticSans-Medium;
}
.video__element {
  position: relative;
  min-width: 100%;
  height: 100vh;
  margin: 0;
  z-index: 1;
}

.introduction {
  background-image: url('../images/footer.png');
  background-repeat: repeat;
  height: 100vh;
  min-width: 700px;
  background-size: 900px;
  padding: 100px;
}
.introduction__logo {
  max-width: 300px;
}

.introduction__tagline {
  font-size: 72px;
  color: white;
  margin-top: 20px;
}

.introduction__text {
  color: white;
}

.questions {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/* Happiness Summary */
.questions__summary {
  height: 100%;
  min-width: 300px;
  background: black url('../images/footer.png');
  position: relative;
  padding: 40px;
}

  .questions__heading {
    width: 200px;
    position: fixed;
    z-index: 100;
    margin-top: 83px;
    color: $orange !important;
  }

  .questions__summarytext {
   /* margin-top: 80px;*/ /* Temporary fix */
    margin-top: 154px;
    color: white !important;
  }

 /* User settings */
 select {

  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;     
  margin-top: 20px; 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .persona__customselect {
    background: #EFEFEF url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/392/select-arrow.png) 95% 50% no-repeat;
  }
} 

  .persona__customselect {
    background: #EFEFEF url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/392/select-arrow.png) 95% 50% no-repeat;
  }

.persona__select {
  margin: auto;
  text-align: center;
}

.persona__inleiding {
  font-family: SimplisticSans-Bold;
  font-size: 32px;
  line-height: 32px;
  width: 50%;
  color: $orange;
  display: block;
  margin: auto;
}

/* Single Happiness Module */
.questions__single {
	height: 100%;
  color: black;
	background: $steunkleur-een;
  position: relative;
  padding: 40px;
  padding-top: 100px;
}

.questions__single:nth-child(odd) {
  background: transparent !important;
}

@-webkit-keyframes blurAnim {
    0% { 
      -webkit-filter: blur(6px);
      filter: blur(6px);
    }
    100% { 
      -webkit-filter: blur(0px);
      filter: blur(0px);
    }
}

.questions__singledescription {
  font-family: SimplisticSans-Bold;
  font-size: 24px;
  margin-top: 20px;
  color: black !important;
  &:nth-child(odd){
    color: white !important;
  }
}

.questions__blur--add {
  -webkit-filter: blur(6px);
  filter: blur(6px);
}

.questions__blur--remove {
  -webkit-animation: blurAnim 2s; 
  animation: blurAnim 2s;
}

.questions__singlerating {
  font-family: SimplisticSans-Bold;
  font-size: 24px;
  color: white !important;
}

.questions__next {
  font-family: SimplisticSans-Bold;
  font-size: 16px;
  border: 3px solid white;
  color: white !important;
  padding: 7px 11px;
  display: inline-flex;
  margin-top: 100px;
  cursor: pointer;
  &:hover {
    background: white !important;
    color: black !important;
    cursor: pointer;
  }
}

.questions__next--yellow {
  @extend .questions__next;
  border: 3px solid $steunkleur-een;
  color: $steunkleur-een;
  display: inline-flex;
  margin-top: 0px;
  cursor: pointer;
  &:hover {
    border: 3px solid white;
    color: white;
    cursor: pointer;
  }
  &:nth-child(2){
    margin-left: 10px;
  }
}

/* Overlay */
.questions__overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  min-width: 100%;
  height: 100%;
  padding: 40px; /* Variable voor instellen */
  padding-top: 120px;
}

.questions__overlaytext {
  font-family: SimplisticSans-Bold;
  font-size: 32px;
  color: white;
}

/* Overlay: Comments */
.questions__overlaybuttons {
  margin-top: 40px;
  display: none;
}

.commentbox {
  display: none;
}

.commentbox__input {
  margin-top: 20px;
  margin-left: 40px;
  border: none;
  border-bottom: 1px dotted white;
  background: none;
  color: white;
  font-size: 36px;
  min-width: 1000px; /* FIXEN!!!!!! */
  font-family: SimplisticSans-Medium;
  padding-left: 10px;
  height: 58px;
}

.commentbox__container {
  display: block;
  position: relative;
}

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.commentbox__entermessage {
  width: 300px;
  padding-top: 30px;
  padding-left: 19px;
  display: inline-block;
  color: $greywolf;

  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:.5s;
  -moz-animation-duration:.5s;
  animation-duration:.5s;

}

.commentbox__next--white {
  @extend .questions__next;
  border: 3px solid $white;
  color: $white;
  float: left;
  /*display: inline-flex;*/
  margin-top: 20px;
  margin-left: 40px;
  cursor: pointer;
  &:hover {
    border: 3px solid white;
    color: white;
    cursor: pointer;
  }
}

/* Message */
.message__loader {
  top: 0;
  left: 0;
  position: absolute;
  background: $greybat;
  display: block;
  height: 20px;
  width: 0;
}

.message__container {
  margin-left: 40px;
  margin-top: 120px;
}

.message__profile {
  display: none;
  opacity: 0;
  color: $greymouse;
}

.message__message {
  display: none;
  font-family: SimplisticSans-Medium;
  font-size: 48px;
  line-height: 44px;
  color: $orange;
  opacity: 0;
}

/* MessageSSSSSS */
.singlemessage__meta {
  color: white;
}

.singlemessage__message {
  color: white;
}

/* Results */
.results {
  width: 100%;
  height: 100vh;
  background: $orange url('../images/resultaten.svg') no-repeat center;
  background-size: 1000px;
  overflow: hidden;
  display: flex;
}

.results__personal-container {
  position: relative;
  margin: auto;
  min-width: 900px;
  width: auto !important;
}

.results__socialmedia {
  position: absolute;
  bottom: 120px;
  left: 0px;
}

.results__socialmedia-icon {
  width: 24px;
}

button {
  background: none;
  color: white;
  padding: 3px;
  display: inline-block;
}



.results__circle-container { text-align: center }

.results__own-circle {
  background: white;
  color: $orange;
  border-radius: 100%;
  width: 100px;
  line-height: 100px;
  display: inline-block;
  font-size: 40px;
  font-family: SimplisticSans-Medium;
  text-align: center;
}

.results__right-circle {
  background: $orange;
  color: $white;
  margin-left: -20px;
}

.results h1 {
  font-size: 60px !important;
  color: white !important;
  margin-left: 40px;
  margin-top: 40px;
}

.results__box {
  width: 300px;
  min-width: 300px;
  height: 410px;
  padding: 30px;
  background: black;
  display: block;
  float: left;
}


.results__box h3, .results__box p, .results__box h4 {
  color: white;
}

.results__box p {
  margin-top: 20px;
}

.results__altkop {
  font-family: SimplisticSans-Bold;
  color: white;
  font-size: 24px !important;
  line-height: 26px !important;
}

.results__resultbox {
  z-index: 5;
}

.results__layart {
  width: 700px;
  height: 300px;
  background: $orange url('../images/layard.jpg') no-repeat center;
  background-size: 800px;
  padding-right: 280px;
  bottom: 100px;
  z-index: 4;
}

/* Results graph */
.results__graph {
  width: 400px;
  height: 80%;
  padding: 30px;
  background: black;
  position: absolute;
  left: 100px;
  top: 100px;
  display: block;
}

.results__graph-scale {
  height: 100%;
  background: url('../images/dotbar.svg');
  background-size: 4px 1289px;
  background-repeat: repeat-y;
  width: 10px;
}

.results__yours {
  font-family: SimplisticSans-Bold;
  display: block;
  position: absolute;
  line-height: 30px;
  width: 100px;
  background: $white;
  color: $orange;
  top: 0;
  left: 60px;
  padding-left: 13px;
}

.results__arrow {
  width: 20px;
  height: 20px;
  margin-left: -25px;
  margin-right: 13px;
}
.results__others {
  @extend .results__yours;
  background: $orange;
  color: $white;
}

/* Results scale */
.results__scale-graph {
  width: 250px;
  padding: 30px;
  padding-bottom: 15px;
  position: relative;
}

.results__scale-graph h6 {
  color: white;
  padding-bottom: 30px;
}
.results__scale {
  background-image: url('../images/slider.svg');  
  width: 177px;
  height: 3px;
}

.results__scalegraph-container {
  width: 300px;
  height: 500px;
  background: #000;
  float: left;
  margin-left: 10px;
  margin-top: -20px;
  padding-left: 30px;
}
.results__scalegraph-controller {
  width: 275px;
  height: 400px;
  background: $white;
  float: left;
  margin-left: 10px;
  padding: 30px;
}

.results__scalegraph-controller-arrow {
  width: 80px;
  height: 80px;
  position: absolute;
  margin-left: -82px;
}

.results__scalegraph-controller ul li {
  font-family: SimplisticSans-Normal;
  font-size: 20px;
  padding-top: 10px;
  color: $greyelephant;
  &:hover {
    cursor: pointer;
    color: $orange;
  }
}

.results__scalegraph-controller ul {
  margin-top: 20px;
}

.results__scalegraph-controller h2 {
  font-size: 30px;
  line-height: 30px;
}

.results__scale-circle {
  position: absolute;  
  width: 30px;
  line-height: 30px;
  border-radius: 100%;
  text-align: center;
  font-family: SimplisticSans-Medium;
  font-size: 14px;
  margin-top: -13px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.results__scale-yours {
  background: $white;
  color: $orange;
  z-index: 998;
}

.results__scale-others {
  background: $orange;
  color: white;
  z-index: 999;
}

.results__millennials {
  float: left;
  width: 350px;
  bottom: 120px;
  margin-right: 40px;
  &:last-child{
    margin-right: 0;
  }
}

.results__millennials-tag {
  color: white;
}

.results__extramargin {
  margin-top: 20px;
}

.results__millennials-p {
  color: white;
  margin-top: 10px;
}

.results__millennials-graph {
  width: 100%;
  height: 30px;
}

.results__millennials-margin {
  margin-top: 30px;
}

.results__gender-margin {
  margin-top: 10px;
}

.results__millennials-bar {
  background: $greymouse;
  display: block;
  width: 105px;
  overflow: hidden;
  font-size: 10px;
  height: 100%;
  color: black;
  padding-left: 5px;
  float: left;
  line-height: 30px;
}

.results__scalegraph--orange {
  color: $orange !important;
  border-bottom: 3px solid $orange;
  display: inline-block;
}

.results__kijkerscore {
  width: 80px;
  position: absolute;
  left: 167px;
  top: 342px; 
}

.results__jouwscore {
  width: 61px;
  position: absolute;
  left: -1px;
  top: 337px;
}

/* Slider */

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  background: none;
  background-image: url('../images/slider.svg');  
  width: 100%;
  height: 10px;
  cursor: pointer;
  background-size: 250px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 25px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

.results__showResults {
  font-family: SimplisticSans-Normal;
  border-bottom: 2px solid white;
  padding-bottom: 2px;
  color: white;
  font-size: 20px;
  position: fixed;
  bottom: 20px;
  width: 250px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 100000;
  cursor: pointer;
  &:hover{
    color: $black;
    border-bottom: 2px dashed black;
  }
}

.results__goBackResults {
  font-family: SimplisticSans-Normal;
  border-bottom: 2px solid white;
  padding-bottom: 2px;
  color: white;
  font-size: 20px;
  position: fixed;
  top: 20px;
  width: 250px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 100000;
  cursor: pointer;
  &:hover{
    color: $black;
    border-bottom: 2px dashed black;
  }
}


/*input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;  //Hides the slider so custom styles can be added 
  border-color: transparent;
  color: transparent;
}*/

input[type=range]:focus {
  -webkit-appearance: none;
  outline: none;
}

/*input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}*/

/* Thumb */
/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 30px;
  width: 30px;
  background-image: url('../images/sliderthumb.svg');
  background-size: 30px;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-top: 0px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 30px;
  width: 30px;
  background-image: url('../images/sliderthumb.svg');
  background-size: 30px;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-top: 0px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  height: 30px;
  width: 30px;
  background-image: url('../images/sliderthumb.svg');
  background-size: 30px;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-top: 0px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}
